@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900 transition-colors duration-300 overflow-x-hidden;
  }

  /* Block horizontal scroll globally */
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans tracking-tight;
  }

  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }
}